:root {
    --header-bg: #4d66a0;
    --heading-color: #000;
    --text-color: rgba(74, 74, 74, 1);
    --font-family: "Roboto Condensed", "Arial", sans-serif;
    --body-bg-color: #fff;
}

/* FONTS */
@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto-condensed-v25-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-condensed-v25-latin-regular.woff") format("woff");
    font-display: swap;
    
}

@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/roboto-condensed-v25-latin-700.woff2") format("woff2"),
    url("../fonts/roboto-condensed-v25-latin-700.woff") format("woff");
    font-display: swap;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: 3px dashed var(--text-color);
    outline-offset: 3px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--body-bg-color);
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    flex-grow: 1;
}

.site-header {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--header-bg);
}

.site-header__title {
    font-weight: 700;
    font-size: 24px;
    white-space: nowrap;
    color: #fff;
    text-align: center;
    margin: 0;
} 

/* Content */
.content {
    padding-top: 60px;
    padding-bottom: 60px;
}

.content__wrapper {
    display: flex;
    align-items: flex-start;
}

.content__img {
    display: block;
    width: 400px;
    height: 400px;
}

.content__text-wrapper {
    padding-top: 50px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.content__text {
    padding: 20px;
    border: 3px ridge #777;
    margin-bottom: 24px;
}

.content__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #999;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 16px;
}

.content__cities {
    color: var(--header-bg);
    margin-bottom: 0;
}

.default {
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 40px;
    text-align: center;
}

/* Footer */
.site-footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--header-bg);
}

.site-footer__text {
    font-weight: 700;
    white-space: nowrap;
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin: 0;
}

/* Region */
h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 24px;
}

p {
    margin-top: 0;
    margin-bottom: 16px;
}

iframe {
    width: 100%;
    height: 500px;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.region__about-img {
    display: block;
    width: 100%;
    height: 500px;
}

.region__attracions-list {
    flex-direction: column;
    align-items: flex-start;
}

.region__attracions-item:not(:last-child) {
    margin-bottom: 8px; 
}

.region__souvenir-list {
    margin-left: -30px;
    margin-bottom: -30px;
}

.region__souvenir-item {
    margin-left: 30px;
    margin-bottom: 30px;
}

.region__souvenir-img {
    display: block;
    flex-grow: 1;
    width: 350px;
    height: 200px;
}

.region__kitchen-list {
    margin-left: -30px;
    margin-bottom: -30px;
}

.region__kitchen-item {
    margin-left: 30px;
    margin-bottom: 30px;
}

.region__kitchen-img {
    display: block;
    flex-grow: 1;
    width: 350px;
    height: 200px;
}

.region__gallery-list {
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
}

.region__gallery-item {
    width: 100%;
    max-width: 540px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.region__gallery-img {
    display: block;
    width: 540px;
    height: 300px;
    margin-bottom: 8px;
}

.region__gallery-img-text {
    font-weight: 700;
    flex-grow: 1;
    margin-bottom: 0;
}